<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>layout</title>
</head>
<body>
    <header>
        <h2>Meu Site</h2>
        <nav>
            <ul>
                <li><a href="/register">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form th:action="@{/login}" method="post" th:object="${user}">
            <h2>Login</h2>
            <div class="campo-entrada">
                <label for="email">E-mail</label>
                <input type="email" id = "email" th:field="*{email}" name="email" placeholder="E-mail" autocomplete="off">
            </div>
            <div class="campo-entrada">
                <label for="password">Password</label>
                <input type="password"  id = "password" th:field="*{password}" name="senha" placeholder="Password" autocomplete="off">
            </div>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>