<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Task Form</title>
</head>
<body>
    <header th:include="~{header :: header-userId}"></header>

    <main>
        <div th:replace="~{back :: back-recordId}"></div>
        <form th:action="${task.id == null} ? '/task/' + ${record} + '/create' : '/task/' + ${record} + '/edit/' + ${task.id} "
              method="post"
              th:object="${task}">
            <h2 th:text="${task.id == null} ? 'New Task' : 'Edit Task' "></h2>

            <div class="campo-entrada">
                <label for="task">Task</label>
                <input type="text" id="task" th:field="*{description}" name="task" placeholder="Task" autocomplete="off">
            </div>
            <div class="campo-entrada">
                <label for="time">Time</label>
                <input type="time" id="time" th:field="*{time}" name="time" autocomplete="off">
            </div>
            <input type="hidden" id="id" th:field="*{id}">
            <button type="submit" th:text="${task.id == null} ? 'New Task' : 'Edit Task' "></button>
        </form>
    </main>
</body>
</html>